<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

<center><b><h1>Name : PARMAR VISHAL</b></center>
<center><b><h1>Enrollment no. : 23010101197</b></center>

### 01) WAP to print “Hello World”

In [4]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [26]:
num1 = 10
num2 = 12
print(num1+num2)
num3 = int(input("enter number 1 : "))
num4 = int(input("enter number 2 : "))
print(num3+num4)

22
5

### 03) WAP to check the type of the variable.

In [27]:
a = True
print(type(a))

<class 'bool'>

### 04) WAP to calculate simple interest.

In [29]:
p = float(input("enter P : "))
r = float(input("enter R : "))
n = float(input("enter N : "))
print("Simple Intrest : ",(p*r*n)/100)

Simple Intrest :  60.0

### 05) WAP to calculate area and perimeter of a circle.

In [30]:
import math

radius = float(input("enter Radius : "))
print("Area of a circle = ",math.pi*radius**2 ,"\nPerimeter of a circle : ",2*math.pi*radius)

Area of a circle =  28.274333882308138
Perimeter of a circle :  18.84955592153876

### 06) WAP to calculate area of a triangle.

In [31]:
height = float(input("enter Height : "))
base = float(input("enter Base : "))
print("Area of triangle : ",(height*base)/2)

Area of triangle :  3.0

### 07) WAP to compute quotient and remainder.

In [32]:
num5 = int(input("enter number 1 : "))
num6 = int(input("enter number 2 : "))
print("Quotient : ",int(num5/num6),"\nRemainder : ",num5%num6)

Quotient :  4
Remainder :  4

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [25]:
f = float(input("Enter tempreture in fahrenheit : "))
print("Tempreture in Celsius : ",(f - 32) * 5/9,"°C")
c = float(input("Enter tempreture in Celsius : "))
print("Tempreture in fahrenheit : ",(c * 9/5) + 32,"°F")

Tempreture in Celsius :  25.0 °C
Tempreture in fahrenheit :  77.0 °F

### 09) WAP to find the distance between two points in 2-D space.

In [19]:
x1 = int(input("enter x1 : "))
x2 = int(input("enter x2 : "))
y1 = int(input("enter y1 : "))
y2 = int(input("enter y2 : "))
print("The distance beetween two points = ",((x2-x1)**2 + (y2-y1)**2)**0.5)

The distance beetween two points =  5.0990195135927845

### 10) WAP to print sum of n natural numbers.

In [17]:
n1 = int(input("enter number : "))
print("The sum of n natural numbers : ",n1*(n1+1)/2)

The sum of n natural numbers :  200010000.0

### 11) WAP to print sum of square of n natural numbers.

In [ ]:
n2 = int(input("enter number : "))
print("The sum of square of n natural numbers : ",n2*(n2+1)*(2*n2+1)/6)

14.0

### 12) WAP to concate the first and last name of the student.

In [8]:
fname = input("Enter Fname : ")
lname = input("Enter Lname : ")
print(fname,lname,sep=" ")

vishal parmar

### 13) WAP to swap two numbers.

In [ ]:
num7 = int(input("enter number a : "))
num8 = int(input("enter number b : "))
print("before swaping : a =",num7," & b =",num8)
temp = num7 # a = a + b
num7 = num8 # b = a - b
num8 = temp # a = a - b
print("after swaping : a =",num7," & b =",num8)

before swaping : a = 2  & b = 3
after swaping : a = 3  & b = 2

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [6]:
km = float(input("Enter Distance in kilometere : "))
print(km,"km =",km*1000,"m")
print(km,"km =",km*3280.84,"feet")
print(km,"km =",km*39370.08,"inches")
print(km,"km =",km*100000.0032,"cm")

10.0 km = 10000.0 m
10.0 km = 32808.4 feet
10.0 km = 393700.80000000005 inches
10.0 km = 1000000.0320000001 cm

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [34]:
day = int(input("Enter Day: "))
month = int(input("Enter Month : "))
year = int(input("Enter Year : "))
print(day,month,year,sep="-")

2-2-23